<head>
    <title>脚本测试</title>
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

<h2>插入测试脚本</h2>
<table>
    #foreach($name in ${scripts.keySet()})
        <tr>
            <td>$name</td>
            <td>$scripts.get($name)</td>
        </tr>
    #end
</table>

<div>
    script name<br>
    <input type="text" name="name" id="name"/><br>
    groovy code<br>
    <textarea type="text" name="script" id="script"  rows="20"></textarea><br>
    <button id="putScript">提交</button>
</div>


<div>
    <input id="getOne"></input>
    <button id="getOneButton">读取一个</button><br>
    <p><pre style="font-size: large;color: dodgerblue" id="scriptContent"/></p>
</div>

<h2>执行测试脚本</h2>

<div>

    name
    <input type="text" name="userName" id="userName"/><br>
    will
    <input type="text" name="will" id="will"/><br>
    age
    <input type="text" name="age" id="age"/><br>
    condition
    <input type="text" name="condition" id="condition"/><br>
    trueAction
    <input type="text" name="trueAction" id="trueAction"/><br>
    falseAction
    <input type="text" name="falseAction" id="falseAction"/><br>
    switchAction
    <input type="text" name="switchAction" id="switchAction"/><br>

    <button id="doAction">执行命令</button><br>

    <p style="font-size: large;color: red" id="actionResult"></p>

</div>


<script>
    $("#putScript").click(function () {
        var data1 = {
            name: $("#name").val(),
            script: $("#script").val()
        };
        $.ajax({
            url: "/putScript",
            type: "POST",
            data: JSON.stringify(data1),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data, status) {
                alert("数据: \n" + data + "\n状态: " + status);
            }
        })
    });


    $("#getOneButton").click(function () {
        $.ajax({
            url: "/getScript?name=" + $("#getOne").val(),
            type: "GET",
            success: function (data, status) {
                alert("数据: \n" + data + "\n状态: " + status);
                $("#scriptContent").text(data);
            }
        })
    });

    $("#doAction").click(function () {
        var doAction = {
            age: $("#age").val(),
            will: $("#will").val(),
            name: $("#userName").val(),
            condition: $("#condition").val(),
            trueAction: $("#trueAction").val(),
            falseAction: $("#falseAction").val(),
            switchAction: $("#switchAction").val(),
        };
        $.ajax({
            url: "/doAction",
            type: "POST",
            data: JSON.stringify(doAction),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data, status) {
                alert("数据: \n" + data + "\n状态: " + status);
                $("#actionResult").text(data);
            }
        })
    });


</script>

</body>